<!DOCTYPE html>
<html lang="en">

<head>
        <!-- {# Load the tag library #} -->
        {% load bootstrap5 %}
        
        <!-- {# Load CSS and JavaScript #} -->
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        
        <!-- {# Display django.contrib.messages as Bootstrap alerts #} -->
        {% bootstrap_messages %}
    
        {% load static %}
        <script src="https://kit.fontawesome.com/f79546f450.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'Google.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'recipes/styles.css' %}">
        <title>Recipe</title>
    </head>

    <body style="padding-bottom: 30px; background-color:#ddd3f0;">

        <!-- NAVBAR -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #381e67;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <i class="fa-solid fa-utensils" style="padding-right: 5px;"></i>
                Word of Mouth
              </a>
              <button   class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'recipes:create_recipe' %}">Upload</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'recipes:all_recipes' %}">Recipes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'recipes:saved_recipes' %}">Favorites</a>
                  </li>
                   
                </ul>
                <a class="nav-link link-light" href="{% url 'logout' %}">
                  <i class="fa-solid fa-right-from-bracket"></i>
                  Logout
                </a>
              </div>
            </div>
        </nav>

        <div class="py-3 px-5">
          {% if recipe.isforked == 1 %}
          <div class="row">
            <a href="{% url 'recipes:detail' recipe.forkedid %}" style="text-decoration: none; color: #381e67;">
              <i class="fa-solid fa-circle-arrow-left"></i>
              <b>Back to parent recipe</b>
            </a>
          </div>
          {% else %}
          <div class="row">
            <a href="{% url 'recipes:all_recipes' %}" style="text-decoration: none; color: #381e67;">
              <i class="fa-solid fa-circle-arrow-left"></i>
              <b>Back to recipes index</b>
            </a>
          </div>
          {% endif %}

            <h1>
              {{recipe.title|capfirst}}
            </h1>
            <div class="row">
              <p class="col-10">Prep Time: {{recipe.prep_time}} min |  Cook Time: {{recipe.cook_time}} min |  Servings: {{recipe.servings}}
                {% if recipe.diet_restriction == 'VG' %}
                | <span class="badge rounded-pill bg-success">VEGAN</span>
                {% endif %}
                {% if recipe.diet_restriction == 'VE' %}
                | <span class="badge rounded-pill bg-warning">VEGETARIAN</span>
                {% endif %}
                {% if recipe.diet_restriction == 'GF' %}
                | <span class="badge rounded-pill bg-info">GLUTEN-FREE</span>
                {% endif %}
              </p>
              <div class="col-1">
                <a class="btn btn-danger col-12" href="{% url 'recipes:fork' recipe.id%}" role="button">
                  <i class="fa-solid fa-code-fork"></i>
                  Fork
                </a>
              </div>
              {% if recipe in user.userprofile.saved.all %}
              <div class="col-1">
                <a class="btn btn-danger col-12" href="{% url 'recipes:unsave_recipe' recipe.id %}" role="button">
                  
                  Unfavorite
                </a>
              </div>
              {% else %}
              <div class="col-1">
                <a class="btn btn-danger col-12" href="{% url 'recipes:save_recipe' recipe.id%}" role="button">
                  
                  Favorite
                </a>
              </div>
              {% endif %}
            </div>

            <hr/>

            <div class="row">
                <div class="col-2">
                    <h2 style="font-size: 25px">Ingredients</h2>
                    <div>
                        <ul class="list-group">
                            {% for ingredient in recipe.ingredients.all %}
                                <li class="list-group-item" style="background-color:#e5dff1;"><b>{{ingredient.name}}:</b> {{ingredient.quantity}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-2">
                    <h2 style="font-size: 25px">Directions</h2>
                    <div>
                      <ol class="list-group list-group-numbered">
                          {% for step in recipe.steps.all %}
                              <li class="list-group-item" style="background-color:#e5dff1;">{{step.name}}</li>
                          {% endfor %}
                      </ol>
                  </div>
                </div>

                <div class="col-2">

                </div>

                <div class="col-5">
                  <img src="{{ recipe.upload.url }}" class="img-thumbnail" alt="..." />
                </div>
            </div>

            <!-- <div class="row">
              <div class="col-2">
                <h2 style="font-size: 25px">Forked Recipes</h2>
                  <div class="list-group">
                    {% for rec in recipe.forked_recipes %}
                      <a href="{% url 'recipes:detail' rec.id %}" class="list-group-item list-group-item-action">{{rec.title|capfirst}}</a>
                    {% endfor %}
                  </div>
              </div> -->

              <style>
                #carouselForked .carousel-item img {
                  object-fit: cover;
                  object-position: center;
                  height: 50vh;
                  overflow: hidden;
                }
                #carouselForked .carousel-item:before {
                  content: "";
                  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
                  display: block;
                  position: absolute;
                  top: 0;
                  width: 100vw;
                  height: 100vh;
                }
                a:link {
                  text-decoration: none;
                }
                a:hover {
                  text-decoration: underline;
                }
              </style>

              <div class="row">
                <div class="col-12">
                  <h2 style="font-size: 25px">Forked Recipes</h2>
                   {% if recipe.forked_recipes|length == 0 %}
                    <p>This recipe has not been forked yet.</p>
                    {% else %}
                  <div id="carouselForked" class="carousel slide col-3" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      {% for rec in recipe.forked_recipes %}
                        {% if forloop.first%}
                          <button type="button" data-bs-target="#carouselForked" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        {% else %}
                          <button type="button" data-bs-target="#carouselForked" data-bs-slide-to="{{forloop.counter0}}" aria-label="Slide 2"></button>
                        {% endif %}
                      {% endfor %}
                    </div>
                    <div class="carousel-inner">
                      {% for rec in recipe.forked_recipes %}
                        {% if forloop.counter == 1 %}
                          <div class="carousel-item active">
                            <img src="{{ rec.upload.url }}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <a href="{% url 'recipes:detail' rec.id%}" class="stretched-link link-light"><h5>{{rec.title|capfirst}}</h5></a>
                              <p>Prep Time: {{rec.prep_time}} min |  Cook Time: {{rec.cook_time}} min |  Servings: {{rec.servings}}</p>
                            </div>
                          </div>
                        {% else %}
                          <div class="carousel-item">
                            <img src="{{ rec.upload.url }}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <a href="{% url 'recipes:detail' rec.id%}" class="stretched-link link-light"><h5>{{rec.title|capfirst}}</h5></a>
                              <p>Prep Time: {{rec.prep_time}} min |  Cook Time: {{rec.cook_time}} min |  Servings: {{rec.servings}}</p>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselForked" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselForked" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                  </div>
                </div>
              </div>
              {% endif %}
              
            

            

            <div>
              <hr>
              <div class="row">
                <h3 class="col-10">Reviews</h3>
                <a class="btn btn-secondary mb-2 col-12" style="width: 150px" href="{% url 'review:write_review' recipe.id%}" role="button">
                  <i class="fa-solid fa-message"></i>
                  Add a Review
                </a>
              </div>

              {% if recipe.reviews.all|length == 0 %}
                <p>Be the first to add a review!</p>
              {% endif %}

              {% for review in recipe.reviews.all %}
                <div class="card mb-2 p-2" style="background-color:#e5dff1;">
                  <p style="font-size: 20px" class="m-0 p-0"><b>{{review.title}}</b>
                    <span style="font-size: 15px;">posted by {{review.author|capfirst}}</span>
                  </p>
                  <p class="reviewRating">
                    Rating: 
                    {% if review.rating == 1 %}
                    <i class="fa-solid fa-star" style="color:goldenrod"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    {% elif review.rating == 2 %}
                    <i class="fa-solid fa-star" style="color:goldenrod"></i>
                    <i class="fa-solid fa-star" style="color:goldenrod"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    {% elif review.rating == 3 %}
                    <i class="fa-solid fa-star" style="color:goldenrod"></i>
                    <i class="fa-solid fa-star" style="color:goldenrod"></i>
                    <i class="fa-solid fa-star" style="color:goldenrod"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    {% elif review.rating == 4 %}
                    <i class="fa-solid fa-star" style="color:goldenrod"></i>
                    <i class="fa-solid fa-star" style="color:goldenrod"></i>
                    <i class="fa-solid fa-star" style="color:goldenrod"></i>
                    <i class="fa-solid fa-star" style="color:goldenrod"></i>
                    <i class="fa-solid fa-star"></i>
                    {% elif review.rating == 5 %}
                    <i class="fa-solid fa-star" style="color:goldenrod"></i>
                    <i class="fa-solid fa-star" style="color:goldenrod"></i>
                    <i class="fa-solid fa-star" style="color:goldenrod"></i>
                    <i class="fa-solid fa-star" style="color:goldenrod"></i>
                    <i class="fa-solid fa-star" style="color:goldenrod"></i>
                    {% endif %}
                  </p>
                  <p class="reviewContent" style="white-space: pre-wrap;">{{review.content}}</p>
                </div>
              {% endfor %}
            </div>


        </div>
      


    </body>

</html>