<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- {# Load the tag library #} -->
        {% load bootstrap5 %}
        
        <!-- {# Load CSS and JavaScript #} -->
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        
        <!-- {# Display django.contrib.messages as Bootstrap alerts #} -->
        <!-- {% bootstrap_messages %} -->
    
        {% load static %}
        <script src="https://kit.fontawesome.com/f79546f450.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'Google.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'recipes/style.css' %}">
        <title>All Recipes</title>
    </head>

    <!-- NAVBAR -->
    <body style="padding-bottom: 30px; background-color:#ddd3f0;">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #381e67;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <i class="fa-solid fa-utensils" style="padding-right: 5px;"></i>
                Word of Mouth
              </a>
              <button   class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'recipes:create_recipe' %}">Upload</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'recipes:all_recipes' %}">Recipes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'recipes:saved_recipes' %}">Favorites</a>
                  </li>
                   
                </ul>
                <a class="nav-link link-light" href="{% url 'logout' %}">
                  <i class="fa-solid fa-right-from-bracket"></i>
                  Logout
                </a>
              </div>
            </div>
          </nav>

          <h1 class="mt-3 text-center">{{ user.username|capfirst}}'s Favorite Recipes</h1>

          <div class="px-5 pt-3">
            <hr>
              {% if user.userprofile.saved.all %}
                <div class="row">
                  {% for recipe in user.userprofile.saved.all %}
                    <div class="col-2">
                        <div class="card" style="background-color:#e5dff1;">  
                            <div style="position: relative">
                                <img src="{{ recipe.upload.url }}" class="card-img-top" alt="..." />
                              <!--img src="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807?k=20&m=1147544807&s=612x612&w=0&h=pBhz1dkwsCMq37Udtp9sfxbjaMl27JUapoyYpQm0anc=" class="card-img-top" alt="..."-->
                              <a class="unsaveBtn btn btn-danger" style="position: absolute; top: 5%; Right: 5%" href="{% url 'recipes:unsave_recipe' recipe.id %}" role="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                                </svg>
                              </a>
                            </div>
                            <div class="card-body" style="position: relative;">
                                <h5 class="card-title"><a href="{% url 'recipes:detail' recipe.id %}" class="stretched-link link-dark" style="text-decoration: none;">{{ recipe.title|capfirst }}</a></h5>
                                <p class="card-text">
                                  PrepTime: {{ recipe.prep_time }} mins<br>
                                  CookTime: {{ recipe.cook_time }} mins<br>
                                  Servings: {{ recipe.servings }} <br>
                                  
                                  {% if recipe.diet_restriction == 'VG' %}
                                  <span class="badge rounded-pill bg-success">VEGAN</span>
                                  {% endif %}
                                  {% if recipe.diet_restriction == 'VE' %}
                                  <span class="badge rounded-pill bg-warning">VEGETARIAN</span>
                                  {% endif %}
                                  {% if recipe.diet_restriction == 'GF' %}
                                  <span class="badge rounded-pill bg-info">GLUTEN-FREE</span>
                                  {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:6 %}
                </div>
                <div class="row">
                    {% endif %}
                  {% endfor %}
                </div>
              {% else %}
                <div>No recipes saved yet</div>
              {% endif %}
          </div>

          <div class="row">
            {% for item in items %}
                <div class="three columns">{{ item }}
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
            {% endfor %}
            </div>

    </body>

</html>