/* .timeCard {
    border: solid;
    border-width: 5px;
    border-color: gray;
    color: red;
} */

.unsaveBtn {
    color: red
}

.card {
    border: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 15px;
}