<!DOCTYPE html>
<html lang="en">

    <head>
        {# Load the tag library #}
        {% load bootstrap5 %}
        
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
    
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'Google.css' %}" />
        <title>Recipe App</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button   class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'recipes:create_recipe' %}">Upload</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Recipes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Starred</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                <h1>Add A Recipe</h1>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <br>
                    <h2>Add Ingredients</h2>

                    {% comment %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                    {{ form.as_p }}
                    {% endfor %}
                    {% endcomment %}



                    
                    <div id="forms">
                      {% for form in formset %}
                          {{ form.as_p }}
                      {% endfor %}
                    </div>
                    {{ formset.management_form }}
                    <a href="javascript:void(0)" id="add_form">Add Another Form</a>


                    <script>
                      var form_count = 3;
                      $('#add_form').click(function() {
                          var new_form = '{{formset.empty_form|escapejs}}'.replace(/__prefix__/g, form_count);
                          $('#forms').append(new_form)   
                          form_count++;
                          $('#id_form-TOTAL_FORMS').val(form_count);
                      });   
                    </script>
                    






                    <button type="submit">Submit</button>
                </form>
                </div>
            </div>
        </div>
    </body>

</html>


<!--h1>Add A Recipe</h1>
<form class="form-horizontal" method="POST" action="">
    {% csrf_token %}
<div class="row spacer">
<div class="col-2">
    <label>{{form.name.label}}</label>
</div>
<div class="col-4">
    <div class="input-group">
        {{form.name}}
    </div>
</div>
</div>
{{ formset.management_form }}
{% for form in formset %}
<div class="row form-row spacer">
    <div class="col-2">
        <label>{{form.name.label}}</label>
    </div>
    <div class="col-4">
        <div class="input-group">
            {{form.name}}
            <div class="input-group-append">
                <button class="btn btn-success add-form-row">+</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="row spacer">
    <div class="col-4 offset-2">
        <button type="submit" class="btn btn-block btn-primary">Create</button>
    </div>
</div>
</form-->